# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

# MacOS
.DS_Store

# TextMate
*.tmproj
tmtags

# Other
.rspec
log/
log/*.log
./fixtures/
./fixtures/*
*.gem
tmp/
bin/bravo-certs/
.ruby-version
Gemfile.lock